.name__Container {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.cardContainer--eatery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.details__button{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 15px;
    
}
.eateryHeader {
    display: flex;
    justify-content: center;
}

.eatery-Button {
    font-family: Nunito;
    color: #F0EBD8;
    background-color: #BB3311;
    border-radius: 18%;
    font-weight: bolder;
}