@import url(https://fonts.googleapis.com/css?family=Nunito|Lora);
@import "./header.css";
@import "./middle.css";
@import "./footer.css";
@import "./weather.css";
@import './eateries.css';
@import "./parks.css";
@import "./save.css";

h1, h2, h3, h4, h5, h6 {
  font-family: Nunito;
  margin-top: 9px;
  margin-bottom: 9px;
}

div {
  font-family: Lora;
}

b {
  font-family: Nunito;
  font-weight: 900;
}

body {
  background-color: #F0EBD8
}

.eventHub {
  border: 2px solid black;
  display: flex;
  
  height: 1000px;
  margin: 5px;
  flex-direction: column;
}
.dropdown {
  font-family: Lora;
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #0D1321;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: .25px solid #543d47;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  background-color: #F0EBD8;
}

dialog {
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  background-color:#F0EBD8;
  color: #0D1321;
  border: none;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.25);
  max-width: 90vw;
  overflow: auto;
}

dialog[open] {
  animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

dialog .actions {
  display: flex;
  justify-content: space-around;
}

.attractionsHeader{
  display: flex;
  justify-content: center;
}
.attractionDetailButton {
  font-family: Nunito;
  color: #F0EBD8;
  background-color: #BB3311;
  border-radius: 18%;
  font-weight: bolder;
  
}

