@import "./header.css";
@import "./middle.css";
@import "./footer.css";
@import "./weather.css";


body {
  background-color: #F0EBD8;
}

.eventHub {
  border: 2px solid black;
  display: flex;
  height: 900px;
  margin: 5px;
  flex-direction: column;
}

.parkCard {
  position: relative;
  text-align: center;
  color: rgb(46, 45, 45);
}

.parkName{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img{
  opacity: 40%;
}
