#showParkDetails {
    font-family: Nunito;
    color: #F0EBD8;
    background-color: #BB3311;
    border-radius: .5em;
    font-weight: bolder;
  }

  .parkDropdown {
    text-align: center;
  }
  
  .parkCard {
    position: relative;
    text-align: center;
    color: #0D1321;
    margin: 2px;
    flex-flow: column wrap;
  }
  
  .parkImage {
    opacity: 50%;
    border-radius: 5%;
    z-index: 1;
  }
  
  #parkName {
    font-family: Nunito;
    font-weight: 900;
    background-color: rgba(240, 235, 216, .1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }