.mainContainer--Right {
  height: 500px;
  overflow: scroll;
}

.saveTripContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;

}

.enterName {
  font-size: 100%;
} 

.saveButton {
  font-size: 100%;
}

.savedHeading {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.itinCard {
  justify-content: center;
  border: black solid 2px;
  background-color: #F0EBD8;
  text-align: center;
  padding: 2px;
  margin: 1rem 3rem;
  border-radius: .5rem;
}