.weatherContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
}


.weatherString {
  display: flex;
}

.weatherContainerOutput {
  border-radius: .5rem;
  padding: .5rem;
  margin: .5rem;
  background-color: slategray;
}

.weatherHeading {
  font-size: 1.5rem;
}